.HContainer {
    display: flex;
    padding: 6px;
    justify-content: space-around;
    /* box-shadow: 0 1px 3px -2px black; */
    border: 1px solid rgba(64, 71, 82, .1);
}

.HLogo {
    display: flex;
    align-items: center;
}

.HMenu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}
.HMenu li{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    text-decoration: none;
    
}
.HMenu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #B2FFFF;
}
.HMenu li:before {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 6px;
    width: 0px;
    background: #B2FFFF;
    border-radius: 50px;
    transition: width 0.3s ease;
}
.HMenu li:hover:before {
    width: 100%
}

.HAccountSearch {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}